.bw-logo-area {
    /*text-align: center;*/
}

.bw-title-bar {
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.bw-title-area {
    display: inline-block;
    text-align: center;
}

.bw-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999977;
}

.bw-logo-title {
    margin-top: 6px;
    font-size: 22px;
}

.bw-logo-subtitle {
    font-size: 13px;
    margin-top: -10px;
}

@media screen and (max-width: 350px) {
    .bw-icon {
        display: none;
    }
    .bw-logo-title {
        font-size: 18px;
    }
}

.bw-right-side-controls {
    line-height: 60px;
}

.bw-right-side-controls > div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .bw-right-side-controls > div {
        text-align: right;
    }
    .bw-title-area {
        text-align: left;
    }
    .bw-logo-area {
        text-align: left;
    }
}

.bw-collapsed-menu {
    display: inline-block;
    height: 100%
}

.bw-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888888;
    padding: 0;
    font-size: 26px;
    color: #777777;
}

.bw-view {
    margin-left: 200px;
    padding: 20px;
    background-color: lightgrey;
    min-height: 100vh;
    overflow: auto;
}

.bw-view-full-width {
    margin-left: 0;
}