<div class="bw-title-bar">
    <div class="row">
        <div class="bw-logo-area col-sm-6">
            <img class="bw-icon" ng-src="{{ iconFile }}" />
            <div class="bw-title-area">
                <p class="bw-logo-title">{{ title }}</p>
                <p class="bw-logo-subtitle">{{ subtitle}}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()"
                 class="bw-collapsed-menu pull-right">
                <button type="button" class="btn bw-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

        </div>



        <div class="bw-right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary">Button 1</button>
                <button class="btn btn-success">Button 2</button>
                <button class="btn btn-warning">Button 3</button>
            </div>
        </div>
    </div>

</div>

<div ng-transclude></div>

<div style="position: absolute; left:220px; top:200px; color: red; font-size: 44px;">
    {{routeString}}
</div>